argh==0.26.2
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
Click==7.0
colorama==0.4.1
ffmpy==0.2.2
ffprobe-python==1.0.3
isort==4.3.21
joblib==0.14.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.2.0
nltk==3.5
packaging==20.3
pathtools==0.1.2
Pillow==7.0.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pylint==2.4.4
pyparsing==2.4.6
pyperclip==1.7.0
pytest==5.3.5
PyYAML==5.2
regex==2020.4.4
Send2Trash==1.5.0
six==1.13.0
tqdm==4.45.0
watchdog==0.9.0
wcwidth==0.1.8
wrapt==1.11.2
